@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff") format("woff"),
    url("../fonts/oswaldmedium.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;

  border: 0;
  font-size: 100%;
  vertical-align: baseline;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

form,
fieldset {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
