.catalog-actions__header--visually-hiden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-all {
  width: 280px;
  height: 290px;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 1);
  background: url("../img/order-all-background.svg");
}

.order-all::first-letter {
  text-transform: capitalize;
}
