.example {
  text-transform: none;

  padding: 25px 20px;
  background: rgba(234, 234, 234);

  @media (min-width: 768px) {
    padding: 40px 30px 60px 30px;
    background: linear-gradient(180deg, #ffffff 60%, rgba(234, 234, 234) 40%);
  }

  @media (min-width: 1440px) {
    padding: 70px 110px 75px 110px;
    background: linear-gradient(#ffffff 30%, rgba(234, 234, 234) 30% 100%);
  }

  &__wrapper {
    @media (min-width: 1440px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;

    @media (min-width: 768px) {
      margin-bottom: 60px;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: 1440px) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__desc {
    @media (min-width: 1440px) {
      width: 50%;
    }
  }

  &__text {
    font-family: "Arial", "Helvetica", sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: 768px) {
      margin-bottom: 55px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__in-numbers-container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1440px) {
      width: 50%;
      flex-direction: column;
    }
  }

  &__in-numbers {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
      max-width: 360px;
      display: inline-flex;
    }

    @media (min-width: 1440px) {
      margin-bottom: 60px;
      min-width: 360px;
    }
  }

  &__fieldset {
    transform: rotateX(180deg);
    min-width: 125px;
    min-height: 55px;
    width: 35%;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-radius: 3px;

    @media (min-width: 768px) {
      margin-right: 40px;
      min-width: 160px;
      min-height: 70px;
    }
  }

  &__legend {
    transform: rotateX(180deg);
    color: rgba(196, 196, 196);
    font-size: 12px;
    line-height: 12px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__time-desc {
    transform: rotateX(180deg);
    text-align: center;
    margin: auto;
    font-size: 24px;
    line-height: 24px;

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__costs-desc {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: 768px) {
      flex-direction: column;
      font-size: 20px;
      line-height: 20px;
      text-align: end;
    }

    @media (min-width: 1440px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;

    @media (min-width: 1440px) {
      width: 50%;
    }
  }

  &__cats-container {
    position: relative;
    margin: auto;

    width: 280px;
    height: 230px;

    @media (min-width: 768px) {
      width: 600px;
      height: 510px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    background-size: 280px 100%;

    @media (min-width: 768px) {
      background-size: 600px 100%;
    }
  }

  &--fat-cat {
    background-color: rgba(234, 234, 234);
    background-image: url("../img/cat-fat.png");

    @media (min-resolution: 2dppx) {
      background-color: rgba(234, 234, 234);
      background-image: url("../img/cat-fat@2x.png");
    }

    @media (min-width: 768px) {
      background-color: linear-gradient(
        180deg,
        #ffffff 50%,
        rgba(234, 234, 234) 50%
      );
    }

    @media (min-width: 1440px) {
      background-color: linear-gradient(
        180deg,
        #ffffff 50%,
        rgba(234, 234, 234) 50%
      );
    }
  }

  &--thin-cat {
    background-image: url("../img/cat-skinny.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-skinny@2x.png");
    }
  }

  &__toggler-scrollbar {
    text-transform: uppercase;
    display: flex;
    margin-bottom: 20px;
    min-width: 210px;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }

  &__scrollbar--desc {
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    border-bottom: 1px dotted #000000;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 30px;
    }

    &:hover {
      border-bottom: 1px solid;
    }

    &:active {
      border-bottom: none;
    }
  }

  &__scrollbar--input {
    --color: linear-gradient(
      to right,
      #68b738 0%,
      #68b738 50%,
      #ffffff 50%,
      #ffffff 100%
    );

    display: block;
    position: relative;
    appearance: none;

    width: 85px;
    background: #ffffff;
    border-radius: 6px;
    padding: 4px;

    @media (min-width: 768px) {
      background: #dcdcdc;
      width: 425px;
      height: 6px;
      border: 1px solid transparent;
      border-radius: 6px;
    }
  }

  @mixin rangeslider__track {
    display: block;
    cursor: pointer;
    height: 6px;
    border-radius: 6px;

    @media (min-width: 768px) {
      height: 6px;
      background: #dcdcdc;
    }
  }

  &__scrollbar--input::-ms-track {
    @include rangeslider__track;
    background: var(--color);
  }

  &__scrollbar--input::-webkit-slider-runnable-track {
    @include rangeslider__track;
    background: var(--color);
  }

  &__scrollbar--input::-moz-range-track {
    @include rangeslider__track;
    background: var(--color);
  }

  @mixin rangeslider__thumb {
    padding: 0;
    margin-top: -14px;
    appearance: none;
    cursor: pointer;
    box-sizing: border-box;

    width: 5px;
    height: 5px;

    @media (min-width: 768px) {
      width: 35px;
      height: 35px;
      box-shadow: 0 1px 1px #cdcdcd;
      border: 1px solid #cdcdcd;
      border-radius: 17px;
      background: radial-gradient(circle at 50%, #68b738 20%, #ffffff 1%);
    }

    &:active {
      border: 1px solid #68b738;
    }
  }

  &__scrollbar--input::-webkit-slider-thumb {
    @include rangeslider__thumb;
  }

  &__scrollbar--input::-moz-range-thumb {
    @include rangeslider__thumb;
  }

  &__scrollbar--input::-ms-thumb {
    @include rangeslider__thumb;
  }
}
