.example {
  text-transform: none;

  padding: 25px 20px;
  background: rgba(234, 234, 234);

  @media (min-width: 768px) {
    padding: 40px 30px 60px 30px;
    background: linear-gradient(180deg, #ffffff 60%, rgba(234, 234, 234) 40%);
  }

  @media (min-width: 1440px) {
    padding: 70px 110px 75px 110px;
    background: linear-gradient(#ffffff 30%, rgba(234, 234, 234) 30% 100%);
  }

  &__wrapper {
    @media (min-width: 1440px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;

    @media (min-width: 768px) {
      margin-bottom: 60px;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: 1440px) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__desc {
    @media (min-width: 1440px) {
      width: 50%;
    }
  }

  &__text {
    font-family: "Arial", "Helvetica", sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: 768px) {
      margin-bottom: 55px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__in-numbers-container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1440px) {
      width: 50%;
      flex-direction: column;
    }
  }

  &__in-numbers {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
      max-width: 360px;
      display: inline-flex;
    }

    @media (min-width: 1440px) {
      margin-bottom: 60px;
      min-width: 360px;
    }
  }

  &__fieldset {
    transform: rotateX(180deg);
    min-width: 125px;
    min-height: 55px;
    width: 35%;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-radius: 3px;

    @media (min-width: 768px) {
      margin-right: 40px;
      min-width: 160px;
      min-height: 70px;
    }
  }

  &__legend {
    transform: rotateX(180deg);
    color: rgba(196, 196, 196);
    font-size: 12px;
    line-height: 12px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__time-desc {
    transform: rotateX(180deg);
    text-align: center;
    margin: auto;
    font-size: 24px;
    line-height: 24px;

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__costs-desc {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: 768px) {
      flex-direction: column;
      font-size: 20px;
      line-height: 20px;
      text-align: end;
    }

    @media (min-width: 1440px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;

    @media (min-width: 1440px) {
      width: 50%;
    }
  }

  &__fat-cat {
    margin: auto;
    margin-bottom: 30px;
  }

  &__toggler-scrollbar {
    text-transform: uppercase;
    display: flex;
    margin-bottom: 20px;
    min-width: 210px;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }

  &__scrollbar--desc {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 30px;
      border-bottom: 1px dotted #000000;
    }
  }
}
