.page-footer {
  display: flex;
  align-items: center;
  background: rgba(242, 242, 242);

  @media (max-width: 767px) {
    min-height: 235px;
    padding: 30px 20px;
    justify-content: center;
    flex-direction: column;
  }

  @media (min-width: 767px) {
    padding: 60px 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    margin: auto;
    max-width: 1440px;
    padding: 60px 100px;
  }

  &__text-logo {
    cursor: pointer;

    @media (max-width: 767px) {
      margin: auto;
    }

    @media (min-width: 767px) {
      width: 130px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      min-width: 25%;
      margin: auto;
    }

    @media (min-width: 767px) {
      width: 135px;
    }
  }

  &__social-link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__academy-contet {
    cursor: pointer;
    color: rgba(68, 68, 68);
    text-transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 18px;

    @media (max-width: 767px) {
      width: 100%;
      margin: auto;
    }

    @media (min-width: 767px) {
      width: 165px;
    }
  }

  &__link:hover {
    opacity: 0.6;
    filter: invert(54%) sepia(9%) saturate(3110%) hue-rotate(54deg)
      brightness(115%) contrast(88%);
  }

  &__link:active {
    opacity: 0.3;
  }
}
