.page-header {
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 40px 30px;
  }

  @media (min-width: 1440px) {
    position: relative;
    max-width: 1440px;
    z-index: 3;
    padding: 70px 110px;
  }

  &__logo {
    padding: 20px 10px;
    display: flex;
    align-items: center;
  }

  &__logo-img {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__logo-text {
    margin: auto;

    @media (min-width: 768px) {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
  }
}
