$margin-for-huge-screens: -140px;

.site-lead {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  box-sizing: border-box;

  @media (max-width: 767px) {
    background: linear-gradient(
      180deg,
      rgba(104, 183, 56, 0.85) 65%,
      rgba(255, 255, 255, 0.85) 45%
    );
    color: rgba(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 767px) {
    padding-top: 60px;
    min-height: 870px;
    position: relative;
    text-align: start;
    padding-left: 115px;
  }

  @media (min-width: 1440px) {
    top: $margin-for-huge-screens;
    margin-bottom: calc($margin-for-huge-screens + 80px);
    background: linear-gradient(
      90deg,
      #ffffff 50%,
      rgba(104, 183, 56, 0.85) 50%
    );
    min-height: 720px;
    padding-top: 220px;
    padding-left: 190px;
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;

    @media (max-width: 767px) {
      height: 65%;
      width: 100%;
      top: 0;
      background: no-repeat url("../img/index/lead-background.png");
      background-size: cover;
    }

    @media (min-resolution: 2dppx) and (max-width: 767px) {
      background: no-repeat url("../img/index/lead-background@2x.png");
      background-size: cover;
    }

    @media (min-width: 1440px) {
      height: 100%;
      width: 50%;
      right: 0;
      position: absolute;
      top: 0;
      background: no-repeat url("../img/index/lead-background-1440px.png");
      background-size: cover;
    }

    @media (min-resolution: 2dppx) and (min-width: 1440px) {
      background: no-repeat url("../img/index/lead-background-1440px@2x.png");
      background-size: cover;
    }
  }

  &__header {
    text-transform: none;
    font-weight: normal;

    @media (max-width: 767px) {
      margin: 35px 25px;
      font-size: 36px;
      line-height: 36px;
    }

    @media (min-width: 767px) {
      margin-bottom: 40px;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__slogan {
    z-index: 1;

    @media (max-width: 767px) {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 14px;
    }

    @media (min-width: 767px) {
      margin-bottom: 50px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__pic {
    @media (max-width: 767px) {
      margin: 0 auto;
    }

    @media (min-width: 767px) {
      position: absolute;
      left: 30px;
      top: 200px;
      width: 710px;
      height: 610px;
    }

    @media (min-width: 1440px) {
      position: absolute;
      width: 550px;
      height: 500px;
      left: 575px;
      top: 140px;
    }
  }

  &__programm-button {
    z-index: 1;
    color: rgba(255, 255, 255);
    background: rgba(104, 183, 56);
    cursor: pointer;

    order: 1;

    margin: 0 20px;
    padding: 10px 45px;

    font-size: 14px;
    line-height: 18px;

    @media (min-width: 767px) {
      margin: 0;
      box-sizing: border-box;
      text-align: center;
      max-width: 245px;
      padding: 15px 25px;
    }
  }
}
